body {
    padding-top: 5rem;
    background-color: rgb(243,244,246);
}

.properties{

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    /* grid-column-gap: 5px; */
}

.property{
    /* height:100%;
    width:55%;
     */
     height:400px;
     width:350px;
}

.image{
    height:200px;
}
.price{
    background-color: blue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 20px;
    
    text-align: center;
    height:fit-content;
    width: fit-content;
    
}

.s_property {
    flex-direction: row;
    height:350px;
  }
  .s_property img {
    width: 40%;
  }